<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
  <hr />
  <div class="footer-link">
    
    {% if site.author.link %}
    <a href="http://{{ site.author.link }}"><i class="fa fa-link" aria-hidden="true"></i></a>
    {% endif %}
    
    {% if site.author.github %}
    <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
    {% endif %}
    

  </div>
  © {{ site.copyright.year }} {{ site.copyright.name }}. Posting rarely.
</div>
